.jumbotron {
  padding-top: 8rem;
  background-color: #b0c4de;
}

#project {
  background-color: #b0c4de;
}

/* footer {
  background-color: #9077c4;
} */

section {
  padding-top: 8rem;
}
